@media screen and (min-width: 360px) {
  .Input {
    width: 250px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid rgb(207, 46, 38);
    padding: 3px;
    border-radius: 5px;
  }
}

.Form {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FormButton {
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .Input {
    width: 300px;
  }
}

.Inputs {
  display: flex;
  flex-direction: column;
}

.Label {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
