@media screen and (min-width: 360px) {
  .Logo {
    z-index: -1;
    background-image: url('../Images/letters-main.png');
    background-repeat: repeat-y;
    position: absolute;
    top: 0;
    left: -8px;
    width: 300px;
    height: 100%;
    background-position: left;
    position: fixed;
  }

  .NameNumber {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 10px;
    font-weight: bold;
    min-width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ContactsList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ContactListItem {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.Delete {
  margin-left: 10px;
}

.Title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (min-width: 580px) {
  .NameNumber {
    min-width: 400px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .Logo {
    background-image: url('../Images/main.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: -1;
    position: absolute;
    bottom: 0%;
    top: 0;
    left: -100px;
    width: 400px;
    height: 100%;
    position: fixed;
  }
}

@media screen and (min-width: 1200px) {
  .Logo {
    left: -3px;
  }
}
